.tabItems {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  @include mq($m) {
    flex-direction: row;
  }
}

.tabItem__container{
  max-width: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  //background-color: #b9c6d0;
  @include mq($m) {
    max-width: 30%;
    flex-basis: 30%;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }

}

.tabItem__title{
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
  background-color: #b9c6d0;
  border: 1px solid white;
  max-width: 33%;
  flex-basis: 33%;
  font-size: 12px;

  @include mq($m) {
    max-width: 100%;
    flex-basis: 100%;
    font-size: initial;
  }


  &:after{
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  &.-first {
    position: relative;
    font-weight: bold;
/*    &:after{
      content: '';
      width: 50%;
      height: 2px;
      background-color: red;
      bottom: 0;
      right: 50%;
      position: absolute;
      transform: translate(50%, 50%);
      opacity: 1;
      transition: opacity 0.5s ease-in;
    }*/
  }
}

.tabContent__container{
  position: relative;
  width: 100%;
  max-width: 100%;
  flex-basis: 100%;
  min-height: 500px;
  overflow: auto;
  padding: 0 20px;

  @include mq($m) {
    max-width: 70%;
    flex-basis: 70%;
  }
}

.tabItem__content{
  position: absolute;
  top: 0;
  opacity: 0;
  padding: 15px 0;
  transition: opacity 0.5s ease-in;
  &.-first{
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
}
